body {
  background-color:#0d6efd4d ;
  font-family: 'Roboto Condensed', sans-serif;
}

.container-table {
  background-color:#9dc4ff8a ;
  max-width: 90%;
  margin: 50px auto;
  padding: 10px;
  height: 90vh;
  overflow-y: scroll;
}

td a {
  margin: 0px 3px;
}

td {
  max-width: 150px;
  overflow: hidden;
}
.table-test {
  color: blue;
}

.container-table{
  
}
